body {
  text-align: center;
  background-color: #282c55;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  width: 90%;
  margin:auto;
}

a {
  color: #61aaaa;
  padding: 5%;
}

.wrapper {
  width: 90%;
  display: flex;
  margin: auto;
  color:white;
}

.add-friend {
  padding: 3%;
  width: 30%;
  text-align: left;
}

.friends {
  padding: 3%;
  width: 70%;
  text-align: left;
}

.friends div {
  margin-bottom: 7%;
}

.friends h3 {
  margin-bottom: 1%;
}

.friends p {
  display: inline;
  padding-left: 5%;
}

form label {
  width: 33%;
  margin: auto 5%;
}

form button {
  margin: 5% auto;
}

input {
  margin-left: 1%;
}

hr {
  border: 1px dashed #ababab;
}